@font-face {
    src: url("./fonts/NunitoSans-Regular.ttf");
    font-family:"NunitoSans";
}

@font-face {
    src: url("./fonts/YesevaOne-Regular.ttf");
    font-family:"YesevaOne";
}

body {    
     margin: 0 auto;
     font-family: NunitoSans, Arial;
     font-weight: normal;
     font-style: normal;   
 } 
.content{
     display: flex;
     flex-flow: column;
     justify-content: space-between;
     max-width: 1440px;
     margin: 0 auto;        
 }
 .content{
    background-color: black;
 }
.main-content{      
    height: 32vw;
    display: flex;
}
.slider_header{
    margin: 5vw;
    margin-bottom: 0;
    height: 2vw;
    display: flex;
    align-content: flex-end;
    color: #ffffff66;
    line-height: 19px;
    font-size: 16px;
    font-family: YesevaOne;  
}
.nav-items__wrapper{
    display: flex;
    margin-left: 23vw;
    padding-top: 1vw;
    justify-content: space-around;
}
.image__title1{
    width: 12vw;  
}
.image__title2{
    width: 10vw;
    margin-left: 3vw;   
}
.image__title3{
    width: 13vw;
}
.image__title1:hover,.image__title2:hover,.image__title3:hover{
    color:#E3B873;
    text-decoration: underline;
}
.slider-table{
    display: flex;
    flex-flow: column;
    width: 23vw;
    margin-left: 5vw;
   
}
.slider-images{
    height: 27vw;
    width: 34vw;
    margin-top: 1vw;
    margin-right: 5vw;    
}
.title{    
    height: 5vw;   
}
.description{
    height: 6vw;   
}
.squares{
    height: 13vw;   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    /* font-family: YesevaOne; */
    font-size: 16px;
    color: #FFFFFF;
}
.squares__city{
    height: 6vw;
    width: 10vw;
   
}
.squares__apart{
    height: 6vw;
    width: 10vw;   
}

.squares__rep-time{
    height: 6vw;
    width: 10vw;    
}

.squares__rep-cost{
    height: 6vw;
    width: 10vw;
}

.slider-footer__nav{
    width: 23vw;
    height: 5vw; 
    margin-top: 1vw;  
    display: flex;    
}
.nav-arrow__left{
    margin: 8px;
    cursor: pointer;
    
}
.nav-arrow__right{
    margin: 8px;
    cursor: pointer;    
}
.nav-point{
 width: 10px;
 height: 10px;   
 border-radius: 50px;
 background-color: #ffffff4b;
 margin: 8px;
 cursor: pointer;
}
.nav-point:hover{
    background-color: #ffffff;
    transform: scale(1.25);
}
.orange-text {
    color:#E3B873;
    font-size: 18px;
    font-family: YesevaOne;
    text-transform: uppercase;
}
h1,p,a {
    color: #FFFFFF;
    font-family: NunitoSans;    
}
.white-nunito{
    color:#FFFFFF;
    font-family: NunitoSans;    
}
.active {
    background-color: #ffffff;
}
.active-nav{
    color:#E3B873;
    text-decoration: underline;
}